<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAs3cJi6rS2Y9FLHBcUHKUxzD0dkaEKNAg</string>
	<key>GCM_SENDER_ID</key>
	<string>1046394010110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.gaseelexpress.courier.test</string>
	<key>PROJECT_ID</key>
	<string>gaseel-courier-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gaseel-courier-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046394010110:ios:4ee660784ef163bd77e8af</string>
</dict>
</plist>